* {
    margin: 8px;
}

#Course_Advertising_Sliding {
    background: linear-gradient(to right, #C0CDD5, #ECEDE3, #FFFCEB);
    height: 35vh;
    border: 2px solid gray;
    border-radius: 20px;
}


button {
    background: transparent;
    border-radius: 20px;
    border: 4px solid white;
    width: 120px;
    height: 40px;
    font-weight: bold;

}

h3 {
    font-weight: bold;
}

p {
    text-align: left;
}

#Course_Advertising_Sliding h3,
p,
button {
    margin: 16px;

}


#Course_LowerComponent {
    display: flex;
    margin: 0 auto;
}

.LowerComponent_advertising {
    background: linear-gradient(to right, #C0CDD5, #ECEDE3, #FFFCEB);
    height: 35vh;
    border: 2px solid gray;
    border-radius: 20px;
    width: 50%;
}